<h3 class="">
    Addresses
</h3>
<article class="d-flex flex-column gap-3">
    <div *ngFor="let address of addresses.controls; let i = index" class="d-flex flex-column gap-3"
        [formGroup]="getAddressFormGroup(i)">
        <div class="form-group">
            <label for="addressLineOne" class="form-label">Address Line One</label>
            <input class="form-control" for="addressLineOne" name="addressLineOne" type="text"
                [appUniqueInput]="getAddressLines()" formControlName="addressLineOne" />
            @if (address.get('addressLineOne')!.touched && address.get('addressLineOne')!.errors?.['forbidden']) {
            <span class="text-danger">
                Must be unique!
            </span>
            }
        </div>
        <div class="form-group">
            <label for="addressLineTwo" class="form-label">Address Line Two</label>
            <input class="form-control" for="addressLineTwo" name="addressLineTwo" type="text"
                formControlName="addressLineTwo" />
        </div>
        <div class="form-group">
            <label for="city" class="form-label">City</label>
            <input class="form-control" for="city" name="city" type="text" formControlName="city" />
        </div>
        <div class="form-group">
            <label for="postCode" class="form-label">Post Code</label>
            <input class="form-control" for="postCode" name="postCode" type="text" formControlName="postCode" />
        </div>
        <div class="form-group">
            <label for="countryId" class="form-label">Country</label>
            <select class="form-select" for="countryId" name="countryId" type="text" formControlName="countryId">
                @for (country of countries; track $index) {
                <option [value]="country.id"> {{country.name}}</option>
                }
            </select>
        </div>
    </div>
</article>
<button type="button" (click)="addNewAddress()">
    Add
</button>
@if (!lastAddressIsValid) {
<span class="text-danger">
    Make sure last address is valid!
</span>
}