.error-tooltip {
    position: absolute;
    visibility: hidden;
}

.form-control:hover~.invalid-field {
    visibility: visible;
}

.invalid-field::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent;
}