<section class="d-flex flex-column justity-content-center">
    <article
        class="d-flex flex-column align-self-center justity-content-between py-4 px-5 border border-1 border-white rounded-4">
        <h1 class="text-center">
            Login
        </h1>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3">
            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input class="form-control rounded-5" [ngClass]="[loginFailed ? 'border border-4 border-danger' : '']"
                    for="username" name="username" type="text" [(ngModel)]="loginModel.userName" required />
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input class="form-control rounded-5" for="password" name="password" type="password"
                    [ngClass]="[loginFailed ? 'border border-4 border-danger' : '']" [(ngModel)]="loginModel.password"
                    required />
                @if (loginFailed) {
                <span class="text-danger">
                    Invalid username or password!
                </span>
                }
            </div>
            <div class="d-flex flex-column justity-content-center gap-3 mt-3">
                <button class="btn btn-lg btn-primary rounded-5" type="submit" [disabled]="loginForm.invalid">
                    Login
                </button>
                <h5 class="text-center">
                    Don't have an account?
                    <a class="text-success" routerLink="/register">
                        Register
                    </a>
                </h5>
            </div>
        </form>
    </article>
</section>