<section class="d-flex flex-column justify-content-center gap-3 p-4 border border-2 border-white rounded-5">
    <article class="d-flex flex-column p-4 align-items-center">
        <div class="d-flex flex-column gap-5">
            <div class="border border-1 border-white rounded-circle p-1" style="height: 150px;">
                <a class="position-relative update-profile-picture-link rounded-circle"
                    routerLink="/update-profile-picture">
                    <div
                        class="position-absolute update-profile-picture-icon d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-pencil text-center fs-5 fw-bold text-white"></i>
                    </div>
                    <div class="container picture-div h-100">
                        @if (profilePicture) {
                        <img class="h-100 object-fit-cover img-fluid rounded-circle" [src]="profilePicture" />
                        } @else {
                        <img class="h-100 object-fit-cover img-fluid rounded-circle"
                            src="/profile-pictures/profile-picture.png" />
                        }
                    </div>
                </a>
            </div>
        </div>
        <h3 class="">
            {{ customer?.user?.userName}}
        </h3>
        <div class="d-flex flex-column ">
            <h4 class="fw-bold">
                {{customer?.user?.firstName}} {{customer?.user?.middleName != null ? customer?.user?.middleName :
                ''}}{{customer?.user?.lastName}}
            </h4>
        </div>
    </article>
    <article class="row row-cols-lg-2 row-cols-1 gap-1">
        <div class="col p-4">
            <div class="d-flex flex-column justify-content-center align-items-center gap-5 border border-2 border-white rounded-5 p-4">
                <h4 class="fw-bold">
                    Addresses
                </h4>
                <div class="d-flex flex-column justify-content-center gap-3">
                    @for (address of customer?.addresses; track $index) {
                    <div class="d-flex flex-column justify-content-center align-items-center gap-2 p-4 border border-2 border-white rounded-5 ">
                        <h5>
                            {{address.addressLineOne}}{{(address.addressLineTwo != null ? ", " + address.addressLineTwo :
                            '')}}
                        </h5>
                        <h6>
                            {{address.city}}, {{address.countryName}}
                        </h6>
                    </div>
                    }
                    <div class="align-self-center">

                        <a class="btn btn-lg btn-primary rounded-5 fs-5" routerLink="/update-addresses">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col row row-cols-lg-2 row-cols-1 p-4">
            <div class="col border border-2 border-white rounded-5 p-4">
                <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                    <h4 class="fw-bold">
                        Phone Numbers
                    </h4>
                    @for (phoneNumber of customer?.phoneNumbers; track $index) {
                    <div class="d-flex flex-column justify-content-center align-items-center gap-2 p-4 border border-2 border-white rounded-5 ">
                        <h5>
                            {{phoneNumber.phoneCode}} {{phoneNumber.number}}
                        </h5>
                    </div>
                    }
                    <div class="align-self-center">
                        <a class="btn btn-lg btn-primary rounded-5 fs-5" routerLink="/update-phone-numbers">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
            <div class="col border border-2 border-white rounded-5 p-4">
                <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                    <h4 class="fw-bold">
                        Emails
                    </h4>
                    @for (emails of customer?.emails; track $index) {
                    <div class="d-flex flex-column justify-content-center align-items-center gap-2 p-4 border border-2 border-white rounded-5 ">
                        <h5>
                            {{emails.address}}
                        </h5>

                    </div>
                    }
                    <div class="align-self-center">
                        <a class="btn btn-lg btn-primary rounded-5 fs-5" routerLink="/update-emails">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </article>
</section>